{{ $itemId := index .Params 0 }}
{{ $gistJ := getJSON "https://www.googleapis.com/youtube/v3/videos?key=AIzaSyCI96j35F_Yhqq2bpfgy1pc77936ibJ1DE&fields=items(snippet(title),statistics)&part=snippet&id=" $itemId }}
<div class="youtube" style="background-image: url(//i.ytimg.com/vi/{{ index .Params 0 }}/maxresdefault.jpg);" data-title="{{ range $gistJ.items }}{{ .snippet.title }}{{ end }}" data-iframe="<iframe src=&quot;//youtube.com/embed/{{ index .Params 0 }}?autoplay=1&quot; allow=&quot;autoplay&quot; allowfullscreen ></iframe>">

</div>