{{ define "title" }}
  2001Y  Portfolio
{{ end }}

{{ define "header" }}
  <h1>2001Y</h1>
  {{ with .Params.subtitle }}
    <span>{{ . }}</span>
  {{ end }}
{{ end}}
{{ define "main" }}
    <div id="hello">
      <span>Hello.</span>
    </div>
    <div>
      {{ .Content }}
    </div>
    <div>
      小6で初めてのブログを作成。<br>
      16年間貯めていたお年玉でMacBookAirを購入。<br>
      学校の文化祭パンフレットをデザイン。<br>
      Googleの10倍早い検索エンジンHSSを作成し、課題研究にて成蹊大学賞を受賞。
    </div>
    <div>
      <h2>Blog　<a href="/blog">more</a></h2>
      <ul>
        {{ range first 5 (where .Data.Pages "Type" "blog") }}
          <a href="{{ .RelPermalink }}">
            <li>
              {{ .Title }}
              <time>{{ .Date.Format "2006/01/02" }}</time>
            </li>
          </a>
        {{ end }}
      </ul>
    </div>
    <div>
      <h2>Works　<a href="/works">more</a></h2>
      <ul>
        {{ range first 5 (where .Data.Pages "Type" "works") }}
          <a href="{{ .RelPermalink }}">
            <li>
              {{ if and (.Params.img) (ne .Params.img "") }}
                <img src="{{ .Params.img }}" alt="thumbnail"/>
              {{ end }}
            </li>
          </a>
        {{ end }}
      </ul>
    </div>
{{ end }}
