YTech
2016.9.30~
AppleHack
~2016.11.6
Mac・iOSの小技
~2016.8.21
Mac・iOSの小技
~2015.5.12

幼稚園
* 「作るコーナー」で一日中ものずくり

小学校
* 楽器パズルを作り、区のコンクールに選ばれる。
* バイオリンをモチーフとした針金アートが学校に選ばれる。
* 図工に夢中になり、休み時間を図工室で過ごす。
* 小6で初めてのブログを作成。

中1
* 3Dプリンタをテーマとする自由研究にて、選ばれる。
* 小4から決めていた物理部に入部。人生の良い決断となる。

中2
* 16年間貯めていたお年玉でMacBookAirを購入。
* キリスト教における羊のあり方について自由研究で発表し選ばれる。
* Life is Tech!に初めて参加する。人生の大きな転換点となる、

高I
* 2週間のタイ研修共に作成する。
* 学校の文化祭パンフレットをデザインし、パンフレットに乗る。
* 五角形の椅子のデザイン

高II
* Googleの10倍早い検索エンジンHSSを作成し、課題研究にて成蹊大学賞を獲得。
* 3年目の文化祭にてオリジナルパーカーを作成し、部誌表紙を含めた数々の印刷物をデザイン。統一感のある展示を作りあげ。
* 18年間狙い続けた、50もの企画で物理部宛に「総合優勝」を獲得。同時に個人で特別デザイン賞を手に入れる。
* 高2の最後の春まで計6回のLife is Tech!に参加し、その中で美大への志望を強くする。
* 中1から続けている宗教委員、委員長を務める。

その他
* ピアノ先生である祖母のコンサートプログラムを計15回にわたって作成。
* 開業医である父親のバッグやチラシ等のデザインを数々手にする。
* 1番は仲間？
