<!DOCTYPE html>
  {{ with .Site.LanguageCode }}
    <html lang="{{ . }}">
      {{ else }}
    <html>
  {{ end }}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#a1d7e5">
    <link rel="icon" href="/svg.svg" type="image/vnd.microsoft.icon">
    <link rel="shortcut icon" href="/svg.svg" type="image/vnd.microsoft.icon">
    {{ block "head" . }}
    {{ end }}
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
    <style>
      {{ block "style" . }}
      {{ end }}
    </style>
  </head>
  <body id="load">
    <section class="load">
      <header>
        {{ block "header" . }}
        {{ end }}
      </header>
      <main>
        {{ block "main" . }}
        {{ end }}
      </main>
      <footer>
        {{ block "footer" . }}
        {{ end }}
        2019 © 2001Y
      </footer>
    </section>
  </body>
  <script src="/barba.min.js"></script>
  <script>
    Barba.Pjax.Dom.wrapperId = 'load';
    Barba.Pjax.Dom.containerClass = 'load';
    Barba.Pjax.init();
    Barba.Prefetch.init();
    Barba.Dispatcher.on('newPageReady', function() {
      location.href = "#top";
      ga('send', 'pageview', window.location.pathname.replace(/^\/?/, '/') + window.location.search);
    });
  </script>
  <!--<script async src="//www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>-->
</html>
