<!DOCTYPE html>
  {{ with .Site.LanguageCode }}
    <html lang="{{ . }}">
      {{ else }}
    <html>
  {{ end }}
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow,noarchive">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--<link rel="canonical" href="ページURL" />-->
    <!--<link rel="amphtml" href="AMPのページURL" />-->
    <meta name="theme-color" content="#a1d7e5">
    <link rel="icon" href="/svg.svg" type="image/vnd.microsoft.icon">
    <link rel="shortcut icon" href="/svg.svg" type="image/vnd.microsoft.icon">
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ block "head" . }}
    {{ end }}
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
    <style>
      {{ block "style" . }}
      {{ end }}
    </style>
  </head>
  <body id="load">
    <section class="load">
      <header>
        {{ block "header" . }}
        {{ end }}
      </header>
      <nav>
        <ul id="header-category">
          <li>
            <a href="/blog">Home</a>
          </li>
          <li>
            <a href="/categories/web">Web</a>
          </li>
          <li>
            <a href="/categories/apple">Apple</a>
          </li>
          <li>
            <a href="/categories/camera">Camera</a>
          </li>
          <li>
            <a href="/categories/other">Other</a>
          </li>
        </ul>
      </nav>
      <main>
        {{ block "main" . }}
        {{ end }}
      </main>
      <footer>
        {{ block "footer" . }}
        {{ end }}
        2019 © 2001Y
      </footer>
    </section>
  </body>
  <script src="/barba.min.js"></script>
  <script>
    {{ if not .Site.IsServer }}

    {{ end }}
    Barba.Pjax.Dom.wrapperId = 'load';
    Barba.Pjax.Dom.containerClass = 'load';
    Barba.Pjax.init();
    Barba.Prefetch.init();
    Barba.Dispatcher.on('newPageReady', function() {
      location.href = "#top";
      ga('send', 'pageview', window.location.pathname.replace(/^\/?/, '/') + window.location.search);
    });
  </script>
  <!--<script async src="//www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>-->
</html>
