<!DOCTYPE html>
  <html itemscope itemtype="http://schema.org/Blog">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow,archive">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//2001y.me">
    <meta itemprop="author" content="2001Y">
    <link rel="icon" href="/svg.svg" type="image/vnd.microsoft.icon">
    <link rel="shortcut icon" href="/svg.svg" type="image/vnd.microsoft.icon">
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ block "head" . }}
    {{ end }}
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
    <style>
      {{ readFile "/themes/2001Y.me/static/style/blog.css" | safeCSS }}
    </style>
  </head>
  <body id="load">
    <section class="load">
      <style>
        {{ block "style" . }}
        {{ end }}
      </style>
      {{ block "header" . }}
      {{ end }}      
      {{ block "main" . }}
      {{ end }}
      <footer>
        {{ block "footer" . }}
        {{ end }}
        2019 © 2001Y
      </footer>
    </section>
  </body>
  <script src="/lazyestload.js"></script>
  <script src="/barba.min.js"></script>
  <script src="/ga-lite.min.js"></script>
  <script>
    {{ if not .Site.IsServer }}

    {{ end }}
    Barba.Pjax.Dom.wrapperId = 'load';
    Barba.Pjax.Dom.containerClass = 'load';
    Barba.Pjax.init();
    Barba.Prefetch.init();
    Barba.Dispatcher.on('newPageReady', function() {
      galite('create', 'UA-68964193-14', 'auto');
      galite('send', 'pageview');
    });
  </script>
  <!--<script async src="//www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>-->
</html>
