{{ define "head" }}
  <meta name="description" content="ページの概要が入ります。" >
  {{ with .Params.img }}
    <meta property="og:image" content="" />
    <meta name="twitter:image" content="" />
  {{ end }}
{{ end }}

{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "style" }}
  {{ readFile "/themes/2001Y.me/static/style/blog.css" | safeCSS }}
  {{ readFile "/themes/2001Y.me/static/style/list.css" | safeCSS }}
{{ end }}

{{ define "header" }}
  <section id="title">
    <h1>2001Y</h1>
    <svg viewBox="0 0 10 8.7" fill="#fff" width="9em" id="logo">
        <path d="m10 0h-2l-4 6.9 1 1.8"/>
        <path d="m7 0h-7l3.5 6.1"/>
    </svg>
    <div id="parapara-nav">
      <a href="/">Portfolio</a>
      <a href="/blog" class="attention">Blog</a>
      <a href="/contact">Contact</a>
    </div>
  </section>
  {{ .Content }}
{{ end}}

{{ define "main" }}
  <section id="blog-list">
    {{ range .Paginator.Pages }}
      <article>
        <a href='{{ .Permalink }}'>
          {{ if and (.Params.img) (ne .Params.img "") }}
            <img src="//unsplash.it/600/500/?random" alt="{{ .Title }}" class="post-img"/>
            <!--{{ .Params.img }}-->
          {{ end }}
          <div class="post-color {{ range .Params.categories }}{{ . }}{{ end }}"></div>
          <div class="post-data">
            <span class="post-title">
              {{ .Title }}
            </span>
            <time class="post-time">
              {{ .Date.Format "Mon, Jan 2, 2006" }}
            </time>
            <span class="post-category">
              {{ if .Params.categories }}{{ range .Params.categories }}{{ . }}{{ end }}{{ end }}
            </span>
          </div>
          <!--<p>{{ .Summary }}</p>-->
        </a>
      </article>
    {{ end }}
  </section>

{{ partial "paginator.html" . }}

{{ end }}
