{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <nav>
      {{ with .Params.categories }}
        カテゴリ
        <ul>
          {{ range . }}
            <a href="/categories/{{ . }}/"><li>{{ . }}</li></a>
          {{ end }}
        </ul>
      {{ end }}
      {{ with .Params.tags }}
        タグ
        <ul>
          {{ range . }}
            <a href="/tags/{{ . }}/"><li>{{ . }}</li></a>
            {{ end }}
        </ul>
      {{ end }}
    </nav>
    <time>公開：{{ .Date.Format "2006/01/02" }}</time>
    {{ if isset .Params "Lastmod" }}
      <time>更新：{{ .Lastmod.Format "2006/01/02" }}</time>
    {{ end }}

    {{ .Content }}

    <h3>Share</h3>
    <ul>
      <a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeJS }}" target="_blank"><li>Facebookで共有</li></a>
      <a href="//twitter.com/intent/tweet?text={{ .Title | safeJS }}%20%7C%20{{ .Site.Title }}%20{{ .Permalink | safeJS }}%20%40{{ .Site.Params.twitter }}" target="_blank"><li>Twitterで共有</li></a>
      <a href="//b.hatena.ne.jp/entry/{{ .Permalink | safeJS }}" target="_blank"><li>はてなブックマークで共有</li></a>
      <a href="//line.me/R/msg/text/?{{ .Permalink | safeJS }}" target="_blank"><li>LINEで共有</li></a>
      <a href="//cloud.feedly.com/#subscription/feed/{{ .Permalink | safeJS }}" target="_blank"><li>Feedlyで共有</li></a>
      <a href="//getpocket.com/edit?url={{ .Permalink | safeJS }}" target="_blank"><li>Pocketで共有</li></a>
      <a href="mailto:?subject={{ .Title }}&amp;body={{ .Permalink | safeURL }}" target="_blank"><li>メールで共有</li></a>
    </ul>
    {{ $related := .Site.RegularPages.Related . | first 10 }}
    {{ with $related }}
    <article>
      <h3>Related Content　<a href="/blog">more</a></h3>
      <ul>
      	{{ range . }}
      	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      	{{ end }}
      </ul>
      {{ end }}
      <h3>Latest Contents　<a href="/blog">more</a></h3>
      <ul>
        {{ range first 5 (where .Data.Pages "Type" "blog") }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <time>{{ .Date.Format "2006/01/02" }}</time>
          </li>
        {{ end }}
      </ul>
      <nav>
        {{ if (or .PrevInSection .NextInSection) }}
        <ul>
            {{ if .PrevInSection }}
              <li>
                <a rel="prev" href="{{ .PrevInSection.RelPermalink }}">
                  « Previous<br />{{ .PrevInSection.Title }}
                </a>
              </li>
            {{ end }}
            {{ if .NextInSection }}
              <li>
                <a  rel="next" href="{{ .NextInSection.RelPermalink }}">
                  Next »<br />{{ .NextInSection.Title }}
                </a>
              </li>
            {{ end }}
        </ul>
        {{ end }}
      </nav>
    </article>
{{ end }}
