{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <article>
      <time>公開：{{ .Date.Format "2006/01/02" }}</time>
      {{ if isset .Params "Lastmod" }}
        <time>更新：{{ .Lastmod.Format "2006/01/02" }}</time>
      {{ end }}
      {{ .Content }}
      <div id="disqus_thread"></div>
      <script>
        (function() {
          var d = document, s = d.createElement('script');
          s.src = '//{{ .Site.DisqusShortname }}.disqus.com/embed.js';
          (d.head || d.body).appendChild(s);
        })();
      </script>
    </article>
{{ end }}
