{{ define "head" }}
  {{ with .Params.img }}
    <meta property="og:image" content="{{ . | absURL }}" />
    <meta name="twitter:image" content="{{ . | absURL }}" />
  {{ end }}
{{ end }}

{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "header" }}
  <h1>{{ .Title }}</h1>
  <a href="/">Portfolio</a>
  {{ if isset .Params "img" }}
    <style>
      header{
        background: url({{ .Params.img }}) no-repeat center/cover;
      }
    </style>
  {{ end }}
  <time>公開：{{ .Date.Format "2006/01/02" }}</time>
  {{ if isset .Params "Lastmod" }}
    <time>更新：{{ .Lastmod.Format "2006/01/02" }}</time>
  {{ end }}
  <style>
    body{
    	background: linear-gradient(to right top, #a1d7e5 50%, #e6e6e6 50%);
    	background-size: 100% calc(100% - 100vh + 5px);
    	background-repeat: no-repeat;
    }
    body:before{
    	content:'';
    	position: fixed;
    	top: 5px;
    	bottom: 0;
    	width: 100%;
    	z-index: -1;
    	background: #fff;
    }
  </style>
{{ end }}

{{ define "main" }}
<nav>
  <ul id="header-category">
    <li>
      <a href="/blog">Home</a>
    </li>
    <li>
      <a href="/categories/web">Web</a>
    </li>
    <li>
      <a href="/categories/apple">Apple</a>
    </li>
    <li>
      <a href="/categories/camera">Camera</a>
    </li>
    <li>
      <a href="/categories/other">Other</a>
    </li>
    <!-- {{ range $name, $taxonomy := .Site.Taxonomies.categories }} -->
      <!-- <li> -->
        <!-- <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}/">{{ $name }}</a> -->
        <!-- {{ $taxonomy.Count }} -->
      <!-- </li> -->
    <!-- {{ end }} -->
  </ul>
</nav>
{{ partial "breadcrumbs.html" . }}
<nav>
  {{ with .Params.categories }}
    Category
    <ul>
      {{ range . }}
        <a href="/categories/{{ . }}/"><li>{{ . }}</li></a>
      {{ end }}
    </ul>
  {{ end }}
  {{ with .Params.tags }}
    Tag
    <ul>
      {{ range . }}
        <a href="/tags/{{ . }}/"><li>{{ . }}</li></a>
        {{ end }}
    </ul>
  {{ end }}
</nav>
  {{ .Content }}
  <h3>Share</h3>
  <ul id="share-box">
    <a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeJS }}" target="_blank"><li>Facebook</li></a>
    <a href="//twitter.com/intent/tweet?text={{ .Title | safeJS }}%20%7C%20{{ .Site.Title }}%20{{ .Permalink | safeJS }}%20%40{{ .Site.Params.twitter }}" target="_blank"><li>Twitterで共有</li></a>
    <a href="//b.hatena.ne.jp/entry/{{ .Permalink | safeJS }}" target="_blank"><li>はてなブックマーク</li></a>
    <a href="//line.me/R/msg/text/?{{ .Permalink | safeJS }}" target="_blank"><li>LINE</li></a>
    <a href="//cloud.feedly.com/#subscription/feed/{{ .Permalink | safeJS }}" target="_blank"><li>Feedly</li></a>
    <a href="//getpocket.com/edit?url={{ .Permalink | safeJS }}" target="_blank"><li>Pocker</li></a>
    <a href="mailto:?subject={{ .Title }}&amp;body={{ .Permalink | safeURL }}" target="_blank"><li>メール</li></a>
  </ul>
  <img src="//chart.apis.google.com/chart?cht=qr&chs=150x150&chof=gif&chl={{ .Permalink | safeJS }}" />
  {{ $related := .Site.RegularPages.Related . | first 10 }}
  {{ with $related }}
  <article>
    <h3>Related Content　<a href="/blog">more</a></h3>
    <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    <h3>Latest Contents　<a href="/blog">more</a></h3>
    <ul>
      {{ range first 5 (where .Data.Pages "Type" "blog") }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time>{{ .Date.Format "2006/01/02" }}</time>
      </li>
      {{ end }}
    </ul>
    <nav id="post-nav">
      {{ if (or .PrevInSection .NextInSection) }}
      <ul>
        {{ if .PrevInSection }}
        <li>
          <a rel="prev" href="{{ .PrevInSection.RelPermalink }}">
            « Previous：{{ .PrevInSection.Title }}
          </a>
        </li>
        {{ end }}
        {{ if .NextInSection }}
        <li>
          <a  rel="next" href="{{ .NextInSection.RelPermalink }}">
            Next »：{{ .NextInSection.Title }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </nav>
  </article>
{{ end }}
