<a href='{{ .Permalink }}'>
  <article>
    {{ if and (.Params.img) (ne .Params.img "") }}
      <img src="{{ .Params.img }}" alt="thumbnail" class="post-img"/>
    {{ end }}
    <div class="post-category {{ range .Params.categories }}{{ . }}{{ end }}"></div>
    <span>{{ .Title }}</span>
    <div>{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
    {{ if .Params.categories }}
      {{ range .Params.categories }}
        <a href="/categories/{{ . | urlize }}/">{{ . }}</a>
      {{ end }}
    {{ end }}
    <p>{{ .Summary }}</p>
  </article>
</a>
