<article>
    {{ if and (.Params.img) (ne .Params.img "") }}
      <img src="{{ .Params.img }}" alt="thumbnail"/>
    {{ end }}
    <a href='{{ .Permalink }}'>{{ .Title }}</a>
    <div>{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
  {{ if and (.Params.image) (ne .Params.image "") }}
    <img src="{{ .Params.image }}" alt="thumbnail"/>
  {{ end }}
  {{ if .Params.tags }}
    {{ range .Params.categories }}
        <a href="/categories/{{ . | urlize }}/">{{ . }}</a>
    {{ end }}
  {{ end }}
    <p>{{ .Summary }}</p>
    <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
</article>
