// List
#logo
  margin: 0 1rem

#parapara-nav
  width 7rem
  text-align left
  line-height 1rem

@media screen and (min-width: 870px)
  #blog-list
    display: flex
    flex-wrap:wrap

  #blog-list article
    width calc(100%/2)

@media screen and (max-width: 870px)
  #blog-list
    padding 2rem

#blog-list a
  display flex

#blog-list article
  padding 90px .5rem 0 .5rem

#blog-list li
  display: block;
  padding: .5rem;
  background: rgba(250,250,250,.5)

#blog-list li:hover
  background: rgba(250,250,250,.7)

#blog-list time
  display block

#blog-list a
  color #000

.attention
  font-size 5rem
  line-height: 1.5em;

.post-img
  width: 180px
  height: 150px
  clip-path polygon(3% 0%, 50% 100%, 97% 0%)
  position: absolute
  z-index 1

.post-color
  background: #c3c3c3
  width: 180px
  height: 150px
  clip-path: polygon(50% 0%, 3% 100%, 97% 100%)
  transform-origin: 50% 65%
  transition 0
  position: relative
  top: -55px
  left: 0
  z-index -1
  opacity .5

#blog-list article:hover > a > .post-color
  will-change transform transition
  transform rotate(360deg)
  transition .6s
  z-index -1

.Apple
  background #e6a2d8

.Web
  background #a1d7e5

.Camera
  background #d8e6a2

.post-meta
  margin-left .6rem

.post-meta span
  display block

.post-title
  font-size 1.2rem

#pagination
  font-size 1.2rem
  margin-top 2rem
  align-items flex-end

#pagination li
  padding 0.3rem .6rem

#active
  border-top solid .15rem #000