{{ $this := . }}
{{ $i := 1 }}
<nav class="breadcrumbs">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="/blog">
        <span itemprop="name">Blog</span>
      </a>
      <meta itemprop="position" content="{{$i}}" />
    </li>

    {{ with .Params.categories }}
      {{ range . }}
        {{ $i = add $i 1 }}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="/categories/{{ . }}/">
            <span itemprop="name">{{ . }}</span>
          </a>
          <meta itemprop="position" content="{{$i}}" />
        </li>
      {{ end }}
    {{ end }}

    {{ $i = add $i 1 }}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{.URL}}">
        <span itemprop="name">{{.Title}}</span>
      </a>
      <meta itemprop="position" content="{{$i}}" />
    </li>
  </ol>
</nav>
