html,body,h1,h2,h3,h4,h5,h6,a,p,span,em,small,strong,sub,sup,mark,del,ins,strike,abbr,dfn,blockquote,q,cite,code,pre,ol,ul,li,dl,dt,dd,div,section,article,main,aside,nav,header,hgroup,footer,img,figure,figcaption,address,time,canvas,iframe,details,summary,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
  font: inherit inherit/inherit inherit;
  margin 0
  padding 0
  border 0
  outline 0
  vertical-align baseline
  box-sizing border-box
  background-repeat no-repeat

:before,:after
  text-decoration inherit
  vertical-align inherit
  box-sizing inherit

article,aside,footer,header,nav,section,main
  display block

input,button,textarea,select
  -webkit-appearance none
  -moz-appearance none
  appearance none
  border: 0
  outline: 0;
  border-color: orange;

input,select
  vertical-align middle

blockquote,q
  quotes none

blockquote:before,blockquote:after,q:before,q:after
  content ""

a
  color inherit
  display inline-block
  text-decoration none
  background-color transparent
  -webkit-text-decoration-skip objects

a:active,a:hover
  outline 0

code,kbd,pre,samp
  font-family monospace, monospace

table
  border-collapse collapse
  border-spacing 0

ol,ul
  list-style-type none

img,video
  max-width: 100%

body
  font-family 'Oleo Script', cursive
  color #1B1C1C
  background #fff
  width 100%;
  overflow-scrolling touch
  word-wrap break-word
  overflow-wrap break-word
  word-break normal
  -webkit-text-font-size-adjust 100%
  -webkit-font-smoothing subpixel-antialiased
  -moz-osx-font-smoothing unset
  padding-right constant(safe-area-inset-right)
  padding-left constant(safe-area-inset-right)
  -webkit-font-smoothing subpixel-antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-font-kerning normal

main
  width 100%
  max-width 900px
  margin 0 auto

main article
  width:30%
  margin: 0 .5em
  padding-top: 90px

#work
  display: inline;
  margin: auto;

#work img
  width: 19vw
  margin: 0 .5em

#blog-list li
  display: block;
  padding: .5em;
  background: rgba(250,250,250,.5)

#blog-list li:hover
  background: rgba(250,250,250,.7)

#blog-list time
  display: block;

#blog-list a
  color: #000;

#logoimg
  position: absolute;
  right: 30%;
  top: 35%;

#my-icon
  top:80%
  right: 57.7%
  position: absolute;
  z-index: 0;

#big-logo
  width: 900px;
  animation: logo 2s forwards;
  position: absolute;
  fill: #fff;
  top: 40%;
  right: 42%;
  z-index: -1;

@keyframes logo {
  0% {
    margin-left: -35vmin;
    stroke-width: 0;
  }
  50% {
    margin-left: -35vmin;
  }
  70% {
    margin-left: -35vmin;
    stroke-width: .1px;
  }
  100% {
    margin-left: -15vmin;
    stroke-width: .1px;
  }
}

#name
  font-size: 4.5em
  position: absolute;
  left: 27%
  top 40%

#header-nav
  display: flex;
  position: fixed;
  top: 1.5em;
  right: 1.5em;
  font-family: 'Thasadith', sans-serif;

#header-nav li
  margin: 0 .5em

#title
  margin-bottom: 2em;

#logo
  margin: 0 1em

#parapara-nav
  width: 7em;
  text-align: left;
  line-height: 1em;

#parapara-nav a:not(.attention)
  font-size: 2em;
  display: block;
  opacity: .7

#parapara-nav a:first-of-type
  transform:rotateX(-45deg);

#parapara-nav a:last-of-type
  transform:rotateX(45deg);

.attention
  font-size: 3em;
  line-height: 1.5em;

#header-category
  font-size: 1.5em

#header-category a
  color: #a1d7e5;

#header-category:before, #header-category:after
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #a1c6e5;
	display: block;

#header-category:before
	margin-right: .4em;
  
#header-category:after
	margin-left: .4em;

#list-post
  display: flex
  flex-wrap:wrap

.post-img
  width: 280px
  height: 170px
  clip-path: polygon(50% 100%, 15% 0, 85% 0)
  position: absolute

.post-category
  background: #000
  width: 275px
  height: 170px
  clip-path: polygon(50% 0, 15% 100%, 85% 100%)
  transform-origin: 50% 65%
  transition: .6s
  position: relative
  top: -55px
  left: 0
  z-index: -1
  opacity: .5

.post-img:hover .post-category
  transform rotate(360deg)

.Apple
  background #e6a2d8

.Web
  background #a1d7e5

.Camera
  background #d8e6a2

.Other
  background #c3c3c3

@media (prefers-color-scheme dark)
  body
    background-color #1B1C1C
    color #f3f3f3

header,footer
  text-align center
  color #fff

header
  padding 8em 0
  margin-bottom: 2em

header a
  color inherit

footer
  padding 3em 0
  margin-top: 2em

h1
  font-size 2.5em

h2
  font-size 2em
  margin 2em 0 .5em

h3
  font-size 1.5em

h4
  font-size 1.2em

h5,h6
  font-size 1em

#pagination
  margin-top 2em

#hello, #title,#header-category, #pagination, #post-nav, footer
  display flex
  justify-content center
  align-items center

#hello
  font-size 10vw
  color #fff
  width 100vw
  height 100vh
  background linear-gradient(30deg, #a1e5e2, #a1c6e5)
  position fixed
  top 0
  left 0
  animation fadeOut 1s 1s forwards
  z-index: 99;

@keyframes fadeOut
    0%
      opacity 1
    100%
      opacity 0
      visibility hidden

.breadcrumbs li
  display inline

.breadcrumbs li:not(:first-of-type):before
  content ">"
  margin 0 .3em

#header-category li, #pagination li, #post-nav li
  margin 0 .5em
  
@font-face
  font-family 'Oleo Script'
  font-style normal
  font-weight 400
  src url('/themes/2001Y.me/static/fonts/oleo-script-regular.eot') /* IE9 Compat Modes */
  src local('Oleo Script'), local('OleoScript-Regular'),
          url('/themes/2001Y.me/static/fonts/oleo-script-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/themes/2001Y.me/static/fonts/oleo-script-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('/themes/2001Y.me/static/fonts/oleo-script-regular.woff') format('woff'), /* Modern Browsers */
          url('/themes/2001Y.me/static/fonts/oleo-script-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('/themes/2001Y.me/static/fonts/oleo-script-regular.svg#OleoScript') format('svg') /* Legacy iOS */
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family 'Oleo Script'
  font-style normal
  font-weight 700
  src url('/themes/2001Y.me/static/fonts/oleo-script-700.eot') /* IE9 Compat Modes */
  src local('Oleo Script Bold'), local('OleoScript-Bold'),
          url('/themes/2001Y.me/static/fonts/oleo-script-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/themes/2001Y.me/static/fonts/oleo-script-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('/themes/2001Y.me/static/fonts/oleo-script-700.woff') format('woff'), /* Modern Browsers */
          url('/themes/2001Y.me/static/fonts/oleo-script-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('/themes/2001Y.me/static/fonts/oleo-script-700.svg#OleoScript') format('svg') /* Legacy iOS */
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD