body
  font-family: 'Oleo Script', cursive
  color #1B1C1C

@media (prefers-color-scheme: dark)
  body
    background-color #1B1C1C
    color #f3f3f3

header,footer
  text-align: center

h1
  font-size: 2em

#hello
  font-size: 10vw
  color: #fff
  width: 100vw
  height 100vh
  background: linear-gradient(30deg, #a1e5e2, #a1c6e5)
  position: fixed
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  animation: fadeOut 1s 1s forwards

@keyframes fadeOut
    0%
      opacity: 1
    100%
      opacity: 0
      visibility: hidden

.breadcrumbs ol
  list-style-type none

.breadcrumbs li
  display inline

.breadcrumbs li:before
  content ">"

.breadcrumbs li:first-child:before
  content ''

@font-face
  font-family: 'Oleo Script'
  font-style: normal
  font-weight: 400
  src: local('Oleo Script'), local('OleoScript-Regular'), url(//fonts.gstatic.com/s/oleoscript/v6/rax5HieDvtMOe0iICsUccChdu0_y8zac.woff2) format('woff2')
