body
  background-color #f3f3f3
  color #1B1C1C

@media (prefers-color-scheme: dark)
  body
    background-color #1B1C1C
    color #f3f3f3

.breadcrumbs ol
  list-style-type none

.breadcrumbs li
  display inline

.breadcrumbs libefore
  content ">"

.breadcrumbs lifirst-childbefore
  content ''
